<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Header -->
    <header class="header">
      <div class="left-section">
        <div class="logo">
          chef <img src="/Poza_IT.png" alt="Logo" class="logo-image" />
        </div>
        <nav class="nav-links">
          <button class="btn nav-item" onclick="location.href='/recipes'">Recipes</button>
          <button class="btn btn-register" onclick="location.href='/add-recipe'">Add Recipe</button>
        </nav>
      </div>
    
      <div class="auth-buttons">
        <button class="btn btn-login">Login</button>
        <button class="btn btn-register" onclick="location.href='/register'">Register</button>
      </div>
    </header>
    

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <img src="Fundal.png" alt="IT Logo" class="logo-it">
        </div>
    </section>

    <!--Login Form-->
    <div class="form-container">
        <h2>Loghează-te, chiorăie mațele!</h2>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <p><a class="link" href="/forgot-password">forgot-password</a></p>
      </div>
</body>
</html>