.footer {
    margin-top: 50px;
    background-color: #011c4b;
    padding: 20px 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

/* Social media icons */
.socials a {
    margin: 0 10px;
    display: inline-block;
}

.socials img {
    width: 30px;
    height: 30px;
    filter: invert(1); /* Pictograme albe */
    transition: transform 0.3s ease-in-out;
}

.socials img:hover {
    transform: scale(1.2);
}
